html, body, .container {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fbff1d;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Added padding to ensure content is not hidden at the top */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box; /* Added to include padding and border in element's total width and height */
    margin-top: 20px; /* Added margin to ensure content is not hidden at the top */
}

.payment-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.payment-form label {
    margin-bottom: 10px;
    display: block;
}

.payment-form input[type="text"],
.payment-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.payment-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.payment-form input[type="submit"]:hover {
    background-color: #45a049;
}
